.container{
  width: 906px;
  margin: 0 auto;
  padding: 0 15px;
  
}

li {
  list-style-type: none;
}

a {
  color: currentColor;

}

.header__link--hover:{
  color: blue;
}

.header {
}
.header__nav {
}
.header__list {
  display: flex;
  justify-content: center;
  gap: 99px;
}
.header__link {
  display: flex;
  justify-content: center;
  margin-right: 20px;
  color: #7d7d7d;
  font-family: "Playfair Display";
  font-size: 14px;
  font-weight: 400;
  margin-left: 99px;
  margin-bottom: 92px;
}
.everything {
}
.everything__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 65px;
}
.everything__img {
  width: 420px;
  height: 280px;
  flex-shrink: 0;
  margin-right: 66px;
}
.everything__title {
  color: #b4ad9e;
  font-family: "Ubuntu";
  font-size: 14px;
  font-weight: 300;
  margin-left: 1px;
  justify-content: left;
}
.everything__subtitle {
  color: #626262;
  font-family: "Playfair Display";
  font-size: 30px;
  font-weight: 400;
}
.everything__text {
  color: #626262;
  font-family: "Playfair Display";
  font-size: 14px;
  font-weight: 400;
  flex-wrap: wrap;
}

.footer {
}
.footer__button {
  width: 165px;
  height: 60px;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: #626262;
  border-top: 20px;
  border-bottom: 21px;
  border-left: 49px;
  border-right: 48px;
  color: #626262;
  font-family: "Playfair Display";
  font-size: 14px;
  font-weight: 400;
  border: 1px solid black;
}
