.container{
  width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  
}

li {
  list-style-type: none;
}

a {
  color: currentColor;
  text-decoration-line: none;
}

.header__link:hover{
  color: rgb(125, 125, 255);
}

.header {
}
.header__nav {
}
.header__list {
  display: flex;
  gap: 99px;
}
.header__link {
  display: flex;
  justify-content: center;
  margin-right: 20px;
  color: #7d7d7d;
  font-family: "Playfair Display";
  font-size: 14px;
  font-weight: 400;
  margin-left: 99px;
  margin-bottom: 92px;
}
.everything {
}
.everything__list {
  display: flex;
  flex-wrap: wrap;
  gap: 130px 65px;
}
.everything__img {
  width: 420px;
  height: 280px;
  flex-shrink: 0;
  margin-right: 66px;
}

.everything__item {
  flex-basis: calc((100% - 65px) / 2);
}

.everything__title {
  color: #b4ad9e;
  font-family: "Ubuntu";
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 32px;
  margin-top: 32px;
}
.everything__subtitle {
  color: #626262;
  font-family: "Playfair Display";
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 40px;
}
.everything__text {
  color: #626262;
  font-family: "Playfair Display";
  font-size: 14px;
  font-weight: 400;
  flex-wrap: wrap;
}

.footer {
}
.footer__button {
  display: flex;
  margin: 0 auto;
  background: #FFF;
  width: 165px;
  height: 60px;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: #626262;
  color: #626262;
  font-family: "Playfair Display", serif;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid black;
  margin-bottom: 66px;
  margin-top: 94px;
  justify-content: center;
  align-items: center;
}